#header {
  padding: 1.5rem;
}

#navegacion {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#logo-div {
  margin-left: 3%;
}

#logo-nav {
  height: 60px;
  border-radius: 50px;
}

#links {
  font-family: "roboto condensed", serif;
  display: flex;
  margin-left: 71%;
  gap: 65px;
}

.link {
  font-size: 18px;
}
