#header {
  padding: 1.5rem;
  position: fixed;
  width: 100%;
}

#navegacion {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-right: 5%;
}

#logo-div {
  margin-left: 5%;
}

#logo-nav {
  height: 35px;
  border-radius: 50px;
}

#links {
  font-family: "roboto condensed", serif;
  display: flex;
  gap: 40px;
}

.link {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 18px;
}

#icono {
  height: 25px;
}

@media (max-width: 768px) {
  #logo-nav {
    height: 20px;
    border-radius: 50px;
  }

  .link {
    font-size: 14px;
  }

  #icono {
    height: 15px;
  }
}
