/*/Alzheimer.css */

.texto-alzheimer,
.quees-info,
.contenedor-alzheimer,
#seccion0 {
  background-color: transparent;
}

.contenedor-alzheimer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  min-height: 90vh;
  background: linear-gradient(to bottom, #ffffff, #dfe6e9);
}

.alzheimer-canvas-1 {
  border-radius: 50px;
}

#boton-s:hover {
  background-color: #f2efeb;
  color: #253439;
}
.start-button {
  background-color: #253439;
  color: #f2efeb;
  border-color: #253439;
  font-family: "Roboto Condensed", serif;
  margin-top: 15px;
  height: 45px;
  border-radius: 30px;
  font-size: 18px;
  transition: all 0.5s ease;
  border: 2px solid;
}

.start-button:hover {
  background-color: #f2efeb;
  color: #253439;
}

.texto-alzheimer {
  width: 45%;
  background: rgba(255, 252, 252, 0.8);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0px 8px 32px 0px rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
}

.texto-alzheimer h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #2d3436;
}

.texto-alzheimer p {
  font-size: 1.1rem;
  line-height: 1.8;
  color: #636e72;
}

.modelo-alzheimer {
  width: 50%;
  height: 500px;
}