.boton-primary {
  color: #443d73 !important;
  font-size: 20px;
  font-weight: 500;
  padding: 0.5em 1.2em;
  background: rgba(0, 0, 0, 0);
  border: 2px solid;
  border-color: #443d73;
  transition: all 0.3s;
  position: center;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #443d73a4;
  align-items: center;
}
.boton-primary:hover {
  background: #443d73;
  color: #fff !important;
  border-radius: 20px;
}

#titulo {
  font-size: 50px;
  font-weight: 500;
  text-align: left;
  text-shadow: 3px 3px 0px #443d7363;
  font-weight: 700;
}
#texto {
  text-align: left;
  font-size: 20px;
  font-weight: 400;
  color: #444444e7;
  max-width: 1000px;
}
#section {
  display: flex;
  align-items: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px); /* Mueve el elemento hacia abajo */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.contenedor {
  opacity: 0; /* Oculta el elemento inicialmente */
  animation: fadeIn 2s ease-out forwards;
}
.col {
  display: flex;
  align-items: center;
}
@keyframes flotando {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  } /* Sube */
  100% {
    transform: translateY(0px);
  } /* Baja */
}

#imagen {
  display: inline-block;
  padding: 20px;
  color: white;
  border-radius: 10px;
  animation: flotando 5s ease-in-out infinite; /* Animación infinita */
  margin: 200px;
  height: 300px;
}
