#section {
  display: flex;
  gap: 200px;
}

#titulo {
  text-align: left;
  font-family: "Hammersmith One", serif;
  letter-spacing: 6px;
  font-size: 55px;
}

#texto {
  text-align: left;
  font-family: "roboto condensed", serif;
  margin-top: 35px;
  margin-bottom: 0%;
  font-size: 20px;
}

#texto-super {
  text-align: left;
  font-family: "roboto condensed", serif;
  margin-top: 35px;
  margin-bottom: 0%;
  font-size: 18px;
}

#boton-h {
  font-family: "roboto condensed", serif;
  background-color: #f2efeb;
  color: #253439;
  margin-top: 15px;
  height: 45px;
  border-radius: 30px;
  font-size: 18px;
}

#imagen {
  object-fit: cover;
  object-position: top;
  border: 40px solid #3a4b51;
  width: 430px;
  height: 520px;
}
