/* Huntington.css */
/* Huntington.css */

.div-text,
.quees-info,
.div-container,
#seccion0 {
  background-color: transparent;
}
.informacion-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1%;
}

.quees-info > 

.div-container {
  height: 65vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.div-canvas-1 {
  border-radius: 50px;
}
#boton-s {
  margin-top: -100px;
  margin-left: 5%;
  background-color: #253439;
  color: #f2efeb;
  border-color: #253439;
  font-family: "Roboto Condensed", serif;
  height: 45px;
  border-radius: 30px;
  font-size: 18px;
  transition: all 0.5s ease;
  border: 2px solid;
}

#boton-s:hover {
  background-color: #f2efeb;
  color: #253439;
}
.start-button {
  background-color: #253439;
  color: #f2efeb;
  border-color: #253439;
  font-family: "Roboto Condensed", serif;
  margin-top: 15px;
  height: 45px;
  border-radius: 30px;
  font-size: 18px;
  transition: all 0.5s ease;
  border: 2px solid;
}

.start-button:hover {
  background-color: #f2efeb;
  color: #253439;
}

.huntington-s1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5%;
  margin-left: 5%;
  height: 95vh;
}
.huntington-info {
  background: rgba(255, 255, 255, 0.19);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  border: 1px solid rgba(255, 255, 255, 0.44);
  width: 600px;
}
.huntington-title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #253439;
  text-shadow: none;
}
.huntington-text {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  color: #253439;
  font-family: "roboto condensed", serif;
  text-align: center;
}

.model-canvas {
  width: 120%;
  height: 60%;
}

/* .brain-canvas {
  height: 80vh;
}

.huntington-info {
  position: fixed;
  z-index: 1;
  background-color: transparent;
  padding: 2rem;
  max-width: 900px;
  margin-top: 10%;
  margin-left: 3%;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;

  background: rgba(255, 255, 255, 0.19);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  border: 1px solid rgba(255, 255, 255, 0.44);
}

.huntington-title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #253439;
}

.huntington-text {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #333; Gris oscuro
  line-height: 1.6;
} */
/* 
background: rgba(255, 255, 255, 0.19);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(11px);
-webkit-backdrop-filter: blur(11px);
border: 1px solid rgba(255, 255, 255, 0.44); */
