.podio-lista {
  display: flex;
  flex-direction: row;
  gap: 250px;
}
.podio-container {
  font-family: "Roboto Condensed", serif;
  margin-top: 35px;
  font-size: 25px;
  margin-bottom: 0px;
  font-weight: 350;
}

.podio-container {
  padding: 20px;
  text-align: center;
}

.podio-lista {
  list-style: none;
  padding: 0;
}

.puesto {
  font-size: 1.2rem;
  margin: 10px 0;
}

.puesto-1 {
  color: gold;
  font-weight: bold;
}

.puesto-2 {
  color: silver;
}

.puesto-3 {
  color: #cd7f32; /* bronce */
}

.podio {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}
