footer {
  background-color: rgba(242, 189, 224, 0.6); /* Fondo semitransparente */
  backdrop-filter: blur(10px);
  font-weight: 700;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly; /* Centra horizontalmente */
  align-items: center;
  gap: 20px;
  padding: 10px;
  height: 80px;
}

.footer {
  display: flex;
  gap: 20px;
}

.link-f {
  color: #443d73;
  transition: 1s ease;
}

.link-f:hover {
  font-weight: 800;
  color: #443d73; /* Hace el texto transparente */
}
