#footer {
  display: flex;
  align-items: first baseline;
  justify-content: center;
  font-family: "roboto condensed", serif;
  height: 100px;
  gap: 12%;
  padding-top: 30px;
}

#link {
  font-size: 18px;
}
