.layout {
  display: flex;
  flex-direction: column;
  height: 300vh;
  min-height: 100vh;
  width: 100%;
  border : 2px solid red;
}

.layout-content {
  display: flex;
  width: 2000px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  flex: 1;
  border : 2px solid blue;
}
